<form action="/action" method="post">
   Name:<br>
  <input type="text" name="name"><br>
  Favorite color:<br>
  <input type="text" name="favoritecolor"><br>
  Cats or Dogs:<br>
  <input type="text" name="catordog">
    <input type="submit" value="Submit">

</form>